IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'wfms')
	DROP DATABASE [wfms]
GO

CREATE DATABASE [wfms]  ON (NAME = N'wfms_Data', FILENAME = N'e:\DATA\MSSQL\wfms_Data.MDF' , SIZE = 5, FILEGROWTH = 10%) LOG ON (NAME = N'wfms_Log', FILENAME = N'e:\DATA\MSSQL\wfms_Log.LDF' , SIZE = 5, FILEGROWTH = 10%)
 COLLATE Chinese_PRC_CI_AS
GO

exec sp_dboption N'wfms', N'autoclose', N'false'
GO

exec sp_dboption N'wfms', N'bulkcopy', N'false'
GO

exec sp_dboption N'wfms', N'trunc. log', N'false'
GO

exec sp_dboption N'wfms', N'torn page detection', N'true'
GO

exec sp_dboption N'wfms', N'read only', N'false'
GO

exec sp_dboption N'wfms', N'dbo use', N'false'
GO

exec sp_dboption N'wfms', N'single', N'false'
GO

exec sp_dboption N'wfms', N'autoshrink', N'false'
GO

exec sp_dboption N'wfms', N'ANSI null default', N'false'
GO

exec sp_dboption N'wfms', N'recursive triggers', N'false'
GO

exec sp_dboption N'wfms', N'ANSI nulls', N'false'
GO

exec sp_dboption N'wfms', N'concat null yields null', N'false'
GO

exec sp_dboption N'wfms', N'cursor close on commit', N'false'
GO

exec sp_dboption N'wfms', N'default to local cursor', N'false'
GO

exec sp_dboption N'wfms', N'quoted identifier', N'false'
GO

exec sp_dboption N'wfms', N'ANSI warnings', N'false'
GO

exec sp_dboption N'wfms', N'auto create statistics', N'true'
GO

exec sp_dboption N'wfms', N'auto update statistics', N'true'
GO

if( ( (@@microsoftversion / power(2, 24) = 8) and (@@microsoftversion & 0xffff >= 724) ) or ( (@@microsoftversion / power(2, 24) = 7) and (@@microsoftversion & 0xffff >= 1082) ) )
	exec sp_dboption N'wfms', N'db chaining', N'false'
GO

use [wfms]
GO

