<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>xuner ECM</display-name>
	<description></description>


	<!--
			- Key of the system property that should specify the root directory of this
			- web app. Applied by WebAppRootListener or Log4jConfigListener.
		-->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>web.root</param-value>
	</context-param>

	<!--
			- Location of the XML file that defines the root application context.
			- Applied by ContextLoaderServlet.
		-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			<!-- /WEB-INF/context/*.xml -->
			/WEB-INF/context/applicationContext-hibernate.xml,
			/WEB-INF/context/applicationContext-bean.xml
			<!-- /WEB-INF/context/applicationContext-test.xml
				/WEB-INF/context/applicationContext-jpa.xml -->
		</param-value>
	</context-param>

	<!-- character fileter -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<display-name>Character Encoding Filter</display-name>
		<description></description>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- hibernate viewfilter
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>-->

	<!-- listener -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!--Spring DispatchServlet -->
	<servlet>
		<servlet-name>WFMS</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WFMS</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WFMS</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- jfreechart
	<servlet>
	    <servlet-name>DisplayChart</servlet-name>
	    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
 	</servlet>
	 <servlet-mapping>
	     <servlet-name>DisplayChart</servlet-name>
	     <url-pattern>/servlet/DisplayChart</url-pattern>
	 </servlet-mapping> -->
	<!-- proxool shutdown servlet-->
	<servlet>   
		<servlet-name>proxoolShutdownServlet </servlet-name>   
		<servlet-class>com.xunersoft.common.web.ProxoolServlet</servlet-class>   
		<load-on-startup>2</load-on-startup>   
	</servlet>  
	
	<!-- proxool adminconsole servlet -->
	<servlet>
		<servlet-name>proxoolAdmin</servlet-name>
		<servlet-class>
			org.logicalcobwebs.proxool.admin.servlet.AdminServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>proxoolAdmin</servlet-name>
		<url-pattern>/proxool</url-pattern>
	</servlet-mapping>

	<!-- 配置受保护域，只有Tomcat管理员才能察看连接池的信息
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>proxool</web-resource-name>
			<url-pattern>/proxool</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>proxool manager Application</realm-name>
	</login-config>
	<security-role>
		<description>
			The role that is required to log in to the Manager
			Application
		</description>
		<role-name>manager</role-name>
	</security-role>
 	-->
	<!-- welcome file -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/views/exception.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/index.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
</web-app>